
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Roboto Condensed", sans-serif;
    color: #717171;
}
::selection{
    background-color: #ec7532;
    color: white;
}
/* LINE STYLE */

.line::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right,#fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all 0.5s linear;
}
.line:hover:after{
    width: 100%;
}

.active.line::after{
    width: 100%;
}
.section{
    padding: 75px 0;
}
.title{
    color: #ec7532;
    font-size: 1.125rem;
    border-bottom: 1px solid #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    margin-bottom: 40px;
}
.title::after{
    content: "";
    display: block;
    background-image: linear-gradient(to right, #fbbd61 , #ec7532);
    width: 125px;
    height: 4px;
    margin-top: 20px;
}
.title--white{
    color: white;
    border-bottom: 1px solid #333;
}
/* HEADER */
header{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

}
header p{
    font-size: 14px;
    font-weight: 700;
}
#movieNavBar .navbar-nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#movieNavBar .navbar-nav .nav-link{
    color: white;
    letter-spacing: 3px;
    line-height: 0.8em;
    padding: 20px 24px;
}
#headerFixed{
    background-color: #101010;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translate(-50%,-100%);
    transition: all 0.5s ease;
    z-index: 5;
}
#headerFixed img{
    height: 50px;
}
/* CAROUSEL */
.carousel-item img{
    height: auto;
}
#carouselMovie{
    height: 650px;
}
#carouselMovie .carousel-inner{
    height: 100%;
}
#carouselMovie .carousel-item {
    height: 100%;
    background-position: center;
    background-size: cover;
}
#carouselMovie .carousel-item:first-child{
    background-image: url(../img/banner.jpg);
}
#carouselMovie .carousel-item:nth-child(2){
    background-image: url(../img/banner2.jpg);
}
#carouselMovie .carousel-item:nth-child(3){
    background-image: url(../img/banner3.webp);
}
#carouselMovie .carousel-item .carousel-caption{
    text-align: left;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#carouselMovie .carousel-item .carousel-caption p:first-child{
    color: #fbbd61;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 0;
    animation-delay: 0.5s;
}
#carouselMovie .carousel-item .carousel-caption p:last-child{
    font-size: 1.125rem;
    margin-bottom: 20px;
}
#carouselMovie .carousel-item .carousel-caption h2{
    font-size: 3.25rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.movieCarousel__trailer{
    animation-delay: 0.5s;
}
.movieCarousel__trailer>span{
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 0.8rem;
    text-align: center;
    line-height: 48px;
    margin-right: 8px;
}
.movieCarousel__trailer button {
    padding: 12px 24px;
    letter-spacing: 4px;
    font-size: 0.8rem;
    border-radius: 30px;
    color: white;
    border: none;
    background-image: linear-gradient(to right , #fbbd61, #ec7532);
    position: relative;
    overflow: hidden;
    outline: hidden;
}
.movieCarousel__trailer button::before{
    content: "";
    display: block;
    width: 110%;
    height: 100%;
    background-color: #ec7532;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(30deg) translateX(-110%);
    transition: all 0.5s linear;
}
.movieCarousel__trailer button:hover:before{
    transform: skewX(30deg) translateX(-5px);
    background-color: rgba(236, 117, 50, 0.5);
}
.movieCarousel__trailer button span{
    position: relative;
    z-index: 1;
}
#carouselMovie .carousel-indicators{
    justify-content: flex-start;
    left: 49%;
    transform: translateX(-50%);
    margin-right: 0;
    margin-left: 0;
    padding-right:15px;
    padding-left: 15px;
    bottom: 10%;
}
#carouselMovie .carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: transparent;
    opacity: 1;
    background-clip: border-box;
    box-sizing: border-box;
}
#carouselMovie .carousel-indicators [data-bs-target].active{
    background: white;
}
.carousel__overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent);
}


/* NEW IN */
.newIn__title {
    text-align: center;
}
.newIn__title h3{
    font-size: 18px;
    color: #4a4a4a;
    margin: 1rem 0;
    text-align: center;
}
.newIn__title i{
    color: #fbbd61;
}
.newIn__Img img{
    width: 306px;
}
.newIn__Img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.newIn__overplay{
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom,  #fbbd61, #ec7532);
    transform: skewX(30deg) translateX(-160%);
    transition: all 0.5s linear;
    opacity: 0.9;
}
.newIn__Img:hover .newIn__overplay{
    transform: skewX(30deg) translateX(-25%);
}
.newIn__Img:hover .newIn__play{
    opacity: 1;
}
.newIn__play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
    opacity: 0;
}
.newIn__play i{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    padding-left: 10px;
    transform: scale(1);
    transition: all 0.5s linear;
}
.newIn__play i:hover{
    transform: scale(0.9);
}
.newIn__play a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    display: block;
    margin: 1rem 0;
}
.newIn__play .date{
    color: white;
}


/* SHOWTIMES */
.showTimes .nav-tabs .nav-item.show .nav-link,.showTimes .nav-tabs .nav-link.active{
    border: none;
}
.showTimes .nav-tabs .nav-link.active{
    color: #fbbd61;
}
.showTimes .nav-tabs .nav-link{
    border: none;
    padding: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: #4a4a4a;
}
.showTimes .nav-tabs .nav-link span{
    padding: 15px 30px;
    display: inline-block;
}
.showTimes .nav-tabs .nav-item{
    margin-bottom: 0;
}
.showTimes__row{
    border-bottom: 1px solid #d8d8d8;
}
.showTimes__row:last-child{
    border: none;
}
.showTimes__row img{
    border-radius: 10px;
}
.showTimes__row div p:first-child{
    color: #ec7532;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0;
}
.showTimes__row div h3{
    font-size: 24px;
    font-weight: 300;
    color: #101010;
    letter-spacing: 1px;
}
.showTimes__row div a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 4px;
    color: #ec7532;
    transition: .5s;
}
.showTimes__row div a:hover{
    color: #101010;
}
.showtimes__runingTimes{
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #4a4a4a;
}
.showtimes__runingTimes button{
    font-size: 14px;
    letter-spacing: 2px;
    color: #717171;
    background-color: #d8d8d8;
    border: none;
}
.showtimes__runingTimes button:hover{
    background-color: #717171;
}
.showtimes__mins span:last-child{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    background-color: #4a4a4a;
    line-height: 33px;
    text-align: center;
    font-weight: 700;

}

/* COMINGSOON */
.conmingSoon{
    background-image: url("../img/banner21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.comingSoon__type{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;

}
.conmingSoon h3{
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 1px;
}
.comingsoon__rating>i{
    color: #fbbd61;
}
.conmingSoon p{
    margin: 1rem 0;
}
.conmingSoon a{
    text-decoration: none;
    color: #ec7532;
    font-size: 12px;
    letter-spacing: 4px;
    transition: .5s;
}
.conmingSoon a:hover{
    color: white;
}
.comingSoon__video{
    position: relative;
}
.comingSoon__video img{
    width: 100%;
    height: 100%;
}
.comingSoon__video i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid #ec7532;
    border-radius: 50%;
    font-size: 25px;

    transition: .5s;
}
.comingSoon__video i:hover{
    transform:translate(-50%, -50%) scale(0.9);
}

/* MOVIELIST */
.movielist{
    background-color: #101010;
}
.movieList__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.movieList__overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    opacity: 0.6;
    transition: .5s;

}
.movieList__item:hover .movieList__overplay{
    opacity: 0;
}

/* CONTACT */
.contact__content{
    text-align: center;
}
.contact__content p:first-child{
    font-size: 23px;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-weight: 300;
}
.contact__content a{
    font-size: 46px;
    color: #fbbd61;
    text-decoration: none;
}

/* FOOTER */
footer{
    background-color: #101010;
}
footer h3{
    font-size: 16px;
    letter-spacing: 2px;
    color: #ec7532;
    margin-bottom: 15px;
}

footer li{
    list-style: none;
}
footer a{
    font-size: 13px;
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 3px 0;
    transition: .5s;
}
footer a:hover{
    color: #fbbd61;
}

.footer__coppyright{
    padding: 15px 0;
    color: white;
    border-top: 1px solid #d8d8d8;

}
.footer__coppyright p{
    margin-bottom: 0;
}